<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.yl.view.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.yl.controler.LoginCheck</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainView</servlet-name>
    <servlet-class>com.yl.view.MainView</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManageUsers</servlet-name>
    <servlet-class>com.yl.view.ManageUsers</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeClServlet</servlet-name>
    <servlet-class>com.yl.controler.ChangeClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>sucess</servlet-name>
    <servlet-class>com.yl.view.sucess</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>failed</servlet-name>
    <servlet-class>com.yl.view.failed</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>changing</servlet-name>
    <servlet-class>com.yl.view.changing</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>com.yl.view.addUser</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainView</servlet-name>
    <url-pattern>/MainView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageUsers</servlet-name>
    <url-pattern>/ManageUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeClServlet</servlet-name>
    <url-pattern>/ChangeClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sucess</servlet-name>
    <url-pattern>/sucess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>failed</servlet-name>
    <url-pattern>/failed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changing</servlet-name>
    <url-pattern>/changing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
